.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
  width: 100%;
  
  @media (max-width: 1023px) {
    padding: 0 60px;
  }

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}
