*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
  color: $color-white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

main {
  flex-grow: 1;
  //overflow: hidden;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: $color-black;
  text-decoration: none;
}
