// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-maire: #1A1917;
$color-my-sin: #FFB548;

// Typography

$ff-exo-2: "Exo-2", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animations
$transition-300: 0.3s ease-in;

