.accordion {
  display: flex;
  flex-direction: column;
  gap: 37px;
  $root: &;

  &__element {

  }

  &__text-describe {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    margin: 0;
    padding: 30px 0 0 30px;
  }

  &__content {
    display: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 0 0 0 30px;
    position: relative;
    cursor: pointer;

    &--active {

      + #{$root}__content {
        display: flex;
      }

      #{$root}__btn-icon::before {
        background-color: $color-white;
        transition: background-color $transition-300;
      }

      #{$root}__btn-icon::after {
        background-color: $color-white;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: clip-path $transition-300;
      }
    }

    &-text {
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-my-sin;
      font-family: "Bebas Neue", sans-serif;
    }

    &-icon {
      &::before {
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid $color-white;
        transition: background-color $transition-300;
      }

      &::after {
        content: "";
        display: flex;
        position: absolute;
        left: 7px;
        top: 23px;
        width: 2px;
        height: 115px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path $transition-300;
        background-color: transparent;
      }
    }
  }
}