.hero {
  position: relative;
  min-height: 100vh;

  &__wrapper {
    padding: 145px 0 0;
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
  }

  &__slider {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  &__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__title {
    margin: 0 0 2px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    padding: 168px 0 0;
    
    @media (max-width: 640px) {
      font-size: 77px;
    }

    @media (max-width: 620px) {
      font-size: 75px;
    }

    @media (max-width: 590px) {
      font-size: 70px;
    }

    @media (max-width: 555px) {
      font-size: 60px;
    }

    @media (max-width: 480px) {
      font-size: 50px;
    }

    @media (max-width: 405px) {
      font-size: 40px;
    }

    @media (max-width: 340px) {
      font-size: 30px;
    }

    @media (max-width: 320px) {
      padding: 176px 0 0;
      font-size: 23px;
      letter-spacing: 0.07em;
      margin: 0 0 8px;
    }
  }

  &__description {
    margin: 0 0 30px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: $color-white;
    letter-spacing: 2px;
    line-height: 100%;
    font-family: "Bebas Neue", sans-serif;

    @media (max-width: 620px) {
      font-size: 22px;
    }

    @media (max-width: 590px) {
      font-size: 21px;
    }

    @media (max-width: 555px) {
      font-size: 20px;
    }

    @media (max-width: 480px) {
      font-size: 18px;
    }

    @media (max-width: 405px) {
      font-size: 16px;
    }

    @media (max-width: 320px) {
      letter-spacing: 0.07em;
      margin: 0 0 12px;
    }
  }

  &__link {
    color: $color-maire;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: $color-my-sin;
    width: 260px;
    border-radius: 4px;
    margin: 0 auto;
    outline: none;
    transition: background-color $transition-300;

    &:hover,
    &:focus-visible {
      background-color: $color-white;
    }

    @media (max-width: 480px) {
      width: 230px;
      font-size: 15px;
      padding: 14px 10px;
    }

    @media (max-width: 320px) {
      width: 216px;
      font-size: 14px;
      padding: 12px 6px;
    }
  }

  &__1 {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__story {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-white;
    display: flex;
    flex-direction: column;
    outline: none;
    transition: color $transition-300;

    &::after {
      content: '';
      border: 10px solid transparent;
      border-top: 10px solid currentColor;
      border-bottom: none;
      width: 10px;
      margin: 0 auto;
    }

    &:hover,
    &:focus-visible {
      color: $color-my-sin;
    }
  }
}

