.sos {
  position: relative;
  min-height: 100vh;

  &__wrapper {
    padding: 50px 0 50px;

    @media (max-width: 450px) {
      padding: 30px 0;
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    align-items: center;
    margin: auto;

    @media (max-width: 980px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 600px) {
      gap: 20px;
    }
  }

  &__left {
    &-top {
      &::after {
        content: '';
        height: 3px;
        width: 100%;
        background-color: $color-white;
        display: flex;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: justify;
    }
  }

  &__subtitle {
    font-weight: 700;
    line-height: 100%;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    margin: 0 0 10px;

    @media (max-width: 500px) {
      font-size: 18px;
    }

    @media (max-width: 400px) {
      font-size: 15px;
    }
  }

  &__title {
    font-size: 46px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 15px;

    @media (max-width: 500px) {
      font-size: 30px;
    }

    @media (max-width: 400px) {
      font-size: 25px;
    }
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    width: 365px;

    &:first-child {
      margin: 50px 0 20px;

      @media (max-width: 500px) {
        margin: 10px 0 10px;
      }
    }

    @media (max-width: 500px) {
      font-size: 14px;
    }

    @media (max-width: 455px) {
      width: 270px;
      font-size: 12px;
    }
  }

  &__slider {
    width: 100%;
    max-width: 410px;
    overflow: hidden;
    position: relative;
    margin: auto;

    //@media (max-width: 980px) {
    //  width: 500px;
    //}
    //
    //@media (max-width: 800px) {
    //  width: 400px;
    //}
    //
    //@media (max-width: 500px) {
    //  width: 300px;
    //}
    //
    //@media (max-width: 430px) {
    //  width: 200px;
    //}
  }

  &__slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  &__slide {
    flex-shrink: 0;
    width: 100%;
  }

  &__slide img {
    width: 100%;
    height: 100%;
    display: block;
  }


  &__prev, &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
  }

  &__prev {
    left: 10px;
  }

  &__next {
    right: 10px;
  }

  @media (max-width: 320px) {
    .sos__prev, .sos__next {
      padding: 5px;
      font-size: 14px;
    }
  }
}